<h1>Poco</h1>

<% if @profile %>
  <p>
    Signed in as <%= @profile['email'] %>!
    <a href="/logout">Sign out</a>
    <br />
    <% if @profile['authorized'] %>
      Authorized!
    <% else %>
      Unauthorized
    <% end %>
  </p>
<% else %>
  <p>
    <a href="/login">Sign in</a>
  </p>
<% end %>

<iframe type="text/html" frameborder="0" width="480" height="394" src="//video.nest.com/embedded/live/chicken?autoplay=1" />
