<!DOCTYPE html>
<html>

<head>
  <title>Poco</title>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="/js/messenger.js"></script>
</head>

<body>
<%= yield %>
</body>

</html>
